@import url(https://fonts.googleapis.com/css?family=Comfortaa);

*{
    margin: 0;
    padding: 0;
    font-family: Comfortaa;
}

body{
    background: #343A40;
}

.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    background: #252422;
}

.sidebar .profileImage{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.sidebar h3{
    color: #FFFFFF;
}

.sidebar h5{
    color: #8B8C89;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a{
    color: #8B8C89;
    padding-left: 25%;
    display: block;
    width: 100%;
    line-height: 45px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover{
    background: white;
}

.sidebar span{
    margin-left: 10px;
}

.sidebar h2{
    color: #70E000;
    padding-top: 20px;
    padding-left: 20px;
}

.sidebar .gerenciamento a{
    line-height: 20px;
    width: 100%;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.sidebar .gerenciamento a:hover{
    background: none;
    line-height: 20px;
    width: 100%;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.sidebar .gerenciamento h5{
    padding-left: 1rem;
    padding-top: 0.2rem;
    color: #FFFFFF;
}

.tituloPagina{
    padding-left: 250px;
    height: 70px;
    background: #252422;
}

.tituloPagina h3{
    color: white;
    padding-top: 25px;
    padding-left: 25px;
}

.formTransf{
    position: absolute;
    width: 300px;
    left: 43%;
    /*margin-left: auto;
    margin-right: auto;*/
    margin-top: 15vh;
    border-radius: 20px;
    text-align: center;
}

.formTransf label{
    padding-top: 1rem;
    color: #8B8C89;
    text-align: left;
}

.formTransf label, input, select,textarea{
    display: block;
    width: 20rem;
}

#submitBtn{
    margin-top: 2rem;
}

.formTransf input, select,textarea{
    border-radius: 5px;
    padding: 10px;
}

.formTransf select{
    width: 21.5rem;
}

.formTransf input[type=submit]{
    background-color: #8B8C89;
    color: white;
    margin-left: 10px;
}

.formTransf input[type=submit]:hover{
    background-color: #70E000;
}

.father{
    position: relative;
}