<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\css\LoginStyle.css">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
    <title>DBMoney</title>
</head>
<body>
    <div class="wrapper">
        <form action="POST">
            <div class="row"><h3>DBMoney</h3></div>
            <div class="row">
                <div class="column">
                    <div class="row"><input type="text" name="nome" placeholder="Nome*" required><p class="error" id="nome"></p></div>
                    <div class="row"><input type="text" name="cpf" placeholder="CPF*" required></div>
                    <div class="row"><input type="text" name="telefone" placeholder="Telefone*" required></div>
                    <div class="row"><input type="text" name="email" placeholder="Email"></div>
                </div>
                <div class="column">
                    <div class="row"><input type="text" name="data_nascimento" placeholder="Data de nascimento*"
                        onfocus="(this.type='date')" onblur="(this.type='text')"required></div>
                    <div class="row"><input type="text" name="endereco" placeholder="Endereço*" required></div>
                    <div class="row"><input type="password" name="senha" placeholder="Senha*" required></div>
                    <div class="row"><input type="password" name="password" placeholder="Confirmar senha*" required></div>
                </div>  
            </div>
            
            <div class="row">
                <div class="column">
                    <input type="checkbox" id="remember-acess" name="remember-acess" required>
                    <label for="remember-acess" id="remember-acess-lb">Li e concordo com os termos de uso.</label>       
                    <input type="submit" id="cadastrar-btn" value="Cadastrar">
                </div>
            </div>
        </form>
    </div>    
    
    
<script defer src="../app/register.js"></script>         
</body>
</html>
