<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="web\css\DashboardStyle.css">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
    <title>DBMoney</title>
</head>
<body>
  <div class="wraper">
    <div class="sidebar">
    	<h1 class="brand">DBM</h1>
    	<div class="avatar">
    	  <div class="user-pic"></div>
    	  <div class="user-infos">
    	    <p class="user-name">Nome Sobrenome</p>
    	    <p class="user-account">123456789-0</p>
    	  </div>
    	</div>
	<a class="active" href="#dashboard">
	  <img src="icons/dashboard.png" alt="Dashboard icon" class="icon-sidebar">
	  Dashboard
	</a>
  	<a href="#transferencia">
  	  <img 
  	    src="icons/transferencia.png" alt="Transferencia icon" class="icon-sidebar">
  	  Transferência
  	</a>
  	<a href="#pix">
  	  <img src="icons/pix.png" alt="Pix icon" class="icon-sidebar">
  	  Pix
  	</a>
  	<a href="#recarga">  	  
  	  <img src="icons/recarga.png" alt="Recarga icon" class="icon-sidebar">
  	  Recarga
  	</a>
  	<a href="#deposito">  	
  	  <img src="icons/deposito.png" alt="Deposito icon" class="icon-sidebar">
  	  Depósito
  	</a>
  	<a href="#extrato">
  	  <img src="icons/extrato.png" alt="Extrato icon" class="icon-sidebar">
  	  Extrato
  	</a>
  	<h3 class="section-sidebar">GERENCIAMENTO</h3>
  	<a href="#configuracoes">Configurações da Conta</a>
  	<a href="#atendimentoaocliente">Atendimento ao Cliente</a>
    </div>

    <div class="content">
    	<div class="topbar-page">
    	  <h3 class="title-page">Dashboard</h3>
    	</div>
        <div class="section-content">
          <div class="saldo" style="margin-right: 40px;">
            <p class="saldo-title">Saldo Disponível</p>
            <p class="saldo-content">R$2.000,00</p>
          </div>
          <div class="saldo">
            <p class="saldo-title">Fatura Atual</p>
            <p class="saldo-content">R$1.000,00</p>
          </div>
        </div>
        <div class="section-content">
          <div class="report">
            <p>Dependentes</p>
            <div class="items-report">
            </div>
          </div>          
        </div>
        <div class="section-content">
          <div class="report">
            <p>Últimos 30 dias</p>
            <div class="items-report">
            </div>
          </div>          
        </div>
    </div> 
  </div>       
</body>
</html>
