<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/LoginStyle.css">
	<script src="../app/app.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
    <title>DBMoney</title>
</head>
<body>
  <div class="wraper">
    <div class="sidebar">
    	<h1 class="brand">DBM</h1>
    	<div class="avatar">
    	  <div class="user-pic"></div>
    	  <div class="user-infos">
    	    <p class="user-name">Nome Sobrenome</p>
    	    <p class="user-account">123456789-0</p>
    	  </div>
    	</div>
	<a href="dashboard.html">
	  <img src="../icons/dashboard.png" alt="Dashboard icon" class="icon-sidebar">
	  Dashboard
	</a>
	<a href="deposito.html">  	
  	  <img src="../icons/deposito.png" alt="Deposito icon" class="icon-sidebar">
  	  Depósito
  	</a>
	  <a href="extrato.html">
  	  <img src="../icons/extrato.png" alt="Extrato icon" class="icon-sidebar">
  	  Extrato
  	</a>
	  <a href="pix.html">
  	  <img src="../icons/pix.png" alt="Pix icon" class="icon-sidebar">
  	  Pix
  	</a>
	  <a href="recarga.html">  	  
  	  <img src="../icons/recarga.png" alt="Recarga icon" class="icon-sidebar">
  	  Recarga
  	</a>
  	<a class="active" href="transferencia.html">
  	  <img 
  	    src="../icons/transferencia.png" alt="Transferencia icon" class="icon-sidebar">
  	  Transferência
  	</a>
	
  	<h3 class="section-sidebar">GERENCIAMENTO</h3>
  	<a href="contaconfig.html">Configurações da Conta</a>
  	<a href="sac.html">Atendimento ao Cliente</a>
    </div>

    <div class="content">
    	<div class="topbar-page">
    	  <h3 class="title-page">Serviço de Atendimento ao Cliente</h3>
    	</div>

        
        <div style="margin-top: 100px;">
			<div class="sac-footer" style="width: 350px;">Não encontrou o que procurava?</div>
			<div class="sac-footer" style="width: 300px;">Contate nosso suporte <span class="highlight">aqui</span>.</div>
		</div>
  	</div>       
</body>
</html>